
*{
    box-sizing: border-box;
}
.navbar{
    padding: 1rem 0 !important;
    
}
.navbar-collapse {
    justify-content: flex-end;
    text-transform: capitalize;
}
.navbar-nav {
    
    text-transform: uppercase;
}
.nav-link{
    color: #3D3D3D !important;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
padding-right: 0 !important;

font-size: 15px;
    margin: 0 19px;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;

}
.active{
    color: #f9af18 !important;
    border-bottom: 2px solid;
}


.nav-item{
    color: #032e42 !important;
}
.nav-item :hover{
    border-bottom: 2px solid #f9af18;
    text-decoration: none;
    transition: all .3s ease-out;
    max-width: 100%;
    color: #f9af18 !important;
    
}
.schedule_btn{
    margin-left: 50px;
    
}
button{
    border-radius: 1px;
    border: none;
    letter-spacing: 0.15em;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;    
    text-transform: uppercase;
    color: #FFFFFF;
    background: #f9af18;
    padding: 15px !important;
}
button:hover{
    background: rgb(235, 25, 25);
}
.col{
    flex: 0 0 auto;
    width: 25.333333% !important;
    margin: 40px;
}
.card{
    
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
        padding: 60px 40px;
        background: white !important;
        box-shadow: 3px 3px 15px 0px rgb(228 228 228);
   
}
.card:hover{
    box-shadow: 0px 0px 17px 3px rgb(188 188 188);
}
.card-title{
    line-height: 40px;
    margin-bottom: 25px;
    color: #3b5998;
    font-family: "Sen", Sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.card-title:hover{
    color: #f9af18;
}
.card-img-top {
    max-width: 50%;
    margin-left: 25%;  
}
.card-body {
    flex: 1 1 auto;
    padding: 3rem 1rem !important;
    line-height: 30px;
    text-align: center;
}
.row {
    justify-content:center;
    /* position: absolute;
    top: 90%;
    left: 5%; */
}
.card-test{
    text-align: center;
    color: #000000;
    font-family: "PT Sans", Sans-serif;
}
.bg-color{
    height: 470px;
    background: #f9af18;    
    color: #ffffff;
    position: relative;
    width: 100%;
    border-radius: 0% 0% 35% 35%;
}
.relative-container{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.display-2 {
    font-size: calc(1.575rem + 3.9vw);  
    font-weight: 500 !important;
    line-height: 1.2;
    color: #FFFFFF;
    font-family: "Sen", Sans-serif;
    font-size: 65px;
    font-weight: bold !important;
    margin-bottom: 20px;
    border-bottom: solid;
    margin-bottom: 10%;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}




.main-slider-box{
    position: relative;
}

/* Next & previous buttons */
.prev , .next {
    cursor: pointer;
    position: absolute;
    top: 150px;
    right: 100%;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
    color: orange;
}

/* Position the "next button" to the right */
.next {
  left: 100%;
  border-radius: 3px;
  width: min-content;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: Product Name 1#222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.mySlides active{
display: inline-flex !important;
width: 100% !important;
}
.mySlides_container{
    display: flex !important;
}
.mySlides .mySlides_wrapper{
display: flex;
flex-direction: column;
width: 32%;
align-items: center;
box-shadow: 3px 3px 15px 0px rgb(228 228 228);
margin: 50px 25px;
}
.mySlides_container :hover{
    box-shadow: 0px 0px 17px 3px rgb(188 188 188);
}
.mySlides img{
width: 15% !important;
float: left;
}
.img-44{
    margin: 30px 6px;

}
.person-dp{
    position: relative;
    top: 180px;
    border-radius: 53px;
}
.person-dp-name{
    position: relative;
    top: 150px;
    color: #032e42 !important;
    font-family: "Sen", Sans-serif !important;
    font-size: 18px;
    margin: 0px 0px -4px 0px;
    font-style: normal !important;
    font-weight: 700;
}
.img-33{
    display: flex;

}
.slider-item-name{
    color: #000000;
    font-family: "Sen", Sans-serif;
    font-size: 17px;
    line-height: 33px;
    width: 75%;
    text-align: center;
    padding: 10px 10px;
    
}
.display-3{
    text-align: center;
    color: #000000;
    font-family: "Alata", Sans-serif;
    font-size: 65px !important;
    font-weight: bold !important;
    line-height: 55px !important;
    margin-bottom: 16px;
    text-align: center;
}



/* Media query */
@media screen and (max-width: 1200px){
    .navbar-nav {
        padding-right: 0;
    }
    .nav-link {
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        padding-right: 2px !important;
    }
    
    .container, .container-md, .container-sm {
        max-width: 900px !important;
    }
}
@media screen and (max-width: 980px){
       
        .container, .container-md, .container-sm {
        max-width: 850px !important;
    }
    
    .display-3{
        font-size: 45px !important;
        line-height:40px !important;
        margin: 30px 0;
    }
    .schedule_btn{
        display: none;
    }
}
@media screen and (max-width: 768px){
   
    .navbar-nav {
        align-items: center;
    }
    
    .row {
        left: 0 ;
    }
    .card{
        padding: 30px 10px;
    }
    .col {
        flex: 0 0 auto;
        width: 33.333333% !important;
        margin: 40px;
    }
    
}
@media only screen and (max-width: 480px){
    .navbar-nav {
        align-items: center;
    }
    .col {
        flex: 0 0 auto;
        width: 99.333333% !important;
        margin: 0px;
    }
    .mySlides .mySlides_wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        box-shadow: 3px 3px 15px 0px rgb(228 228 228);
        margin: 82px 0;
    }
    .mySlides_container {
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
    }
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 93%;
        width: auto;
        padding: 16px;
        font-weight: bold;
        font-size: 20px;
        border-radius: 3px;
        user-select: none;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 93%;
        width: auto;
        padding: 16px;
        font-weight: bold;
        font-size:20px;
        border-radius: 3px;
        user-select: none;
        -webkit-user-select: none;
        color: orange;
    }
    .next {
        left: 81%;
        border-radius: 3px;
        width: min-content;
    }
}
