*{
    
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container-1{
    text-align: center;
    color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 0 auto;
    
}
.container{
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
    color: rgb(255, 255, 255);  
}
/* nav start */
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-container > div {
    padding:8px;
    text-align: center;
    margin: 8px;
    text-decoration: none;
    
    
}
.nav-text{
    text-decoration: none;
    font-size: 15px;
    color: 656565;
    font-weight: 600;
    padding: inherit;
    

}

.active, .nav-text:hover{
    color: black;
    cursor: pointer;
}
.nav-logo{
    margin: auto;
    float: left;
    margin-left: -20px;
}
.logo-width{
    width: 100%;
}
.edition-class{
    color: red;
    font-size: 32px;
    font-family: serif;
}
.nav-list{
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
    text-decoration: none;
    flex-direction: row;
    
}
.icon-nav{
    display: flex;
    margin: 8px 0px 0px 28px;
}
.icon-nav >div{
    margin: 0 7px;
    width: 20px;

}

/* AFTER NAV */
.text-image ul {
    margin: 0 auto;
    display: table;
}
.img-container {
    width: 100%;  
}
.text-image {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.main-section-img{
    position: relative;
}
.button {
    background-color: #ff0000;
    border: none;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 1000;
    font-family: "Open Sans";
    font-variant: small-caps;

  }
 .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(41, 38, 38, 0.19);
    color: rgb(88, 15, 15);
  }
.htag{
    font-size: 50px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 400;
}  
.list-record {
    font-size: 21px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 400;
    float: left;
    list-style: disc;
    margin: 1px 20px 30px;

}
.dot-icon{
    text-align: center;
    margin: 17px;
    display: flex;
    justify-content: center;
}
.dot-icon > div{
    margin: 0 2px;
}
.dot-icon>:hover{
    color: black;
}

.featured{
    font-size: 30px;
line-height: 30px;
color: #ff0000;
font-weight: bold;
font-family: "Bell MT Bold";
margin: 30px;
font-variant: small-caps;
}
.featured >span{
    font-size: 30px;
line-height: 30px;
color: 060607;
font-weight: bold;
font-family: "Bell MT Bold";
font-variant: small-caps;
}
.featured-type{
    width: 100%;    
    display: flex;
   
}
.featured-item{
    display: inline-flex;
    width: 24%;
    margin: 5px;
    border-radius: 5px;
    filter: drop-shadow(1.5px 2.598px 1.5px rgba(0,0,0,0.29));
    background-color: #ebebeb;
    flex-wrap: wrap;
}
.featured-item-content{
    margin-left: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.featured-item-img{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    
    
}
.featured-item-heading{
   
    font-size: 25px;
line-height: 24px;
color: #ff0000;
font-weight: 600;
margin-bottom: -3px;
    
}
.like{
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 50px;
    background: white;
    width: 12%;
    
}
.featured-data{
    font-size: 20px;
    line-height: 23px;
    color: #ff0000;
    font-weight: bold;
    font-family: "Myriad Pro";
    margin-top: 11px;
}
.featured-item-data{
    line-height: 24px;
    color: #030303;
    font-weight: 600;
    font-family: "Myriad pro Semibold";
    margin-top: 12px;
}
.new-trending-box{
    display: inline-block;
    margin: 5px;
    text-align: start;
    width: 24%;
    border-radius: 7px;
    background-color: rgb(222, 219, 219 );
    position: relative;

}
.new-trending-content{
    color: #ff0000;
    font-weight:700;
    font-family: "Myriad Pro";
    margin: 6;
}
.new-trending-content-detail{
    font-size: 16px;
    line-height: 23px;
    color: #5b5b5b;
    font-weight: 600;
    margin-top: 9px;
}
.new-trending-item{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.new-trending-img{

    width: -webkit-fill-available;
    border-radius: 5px;


}
.journal-box{
    background: black;
    margin: 30px 0px;
    width: 100%;
    float: left;
    
}
.jrnl{
   color: white !important;
}
.journl-2{
    width: 100%;
   
}
.the-journal-img{
    padding: 10px;
    float: left;
    width: 50%;
    color: blanchedalmond;
    text-align: initial;

}
.img-1{
    width: 100%;
    height: auto;
}

.journal-1{
    font-size: 18px;
    line-height: 25px;
    color: #e1e1e1;
    font-weight: 700;
    margin: 5 0;
    
}
.journal-2{
    font-size: 23px;
    line-height: 27px;
    color: #fefefe;
    font-weight: bold;
    font-family: "Bell MT Bold";
    margin: 5 0;

    
}
.journal-3{
    
    font-size: 20px;
    color: #e6e6e6;
    font-weight: 400;
    margin: 0;
    
}
.seen-main-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.as-seen-in-logos{
    margin: 20px;
    display: inline;
    padding: 20px;
}
.car-img{
    position: relative;
    float: left;
    width: 100%;
    
}
.black-car-img{
    width: 100%;
    opacity: 90.1%;
    
    
}
.black-car-content{
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    
    
}
.sell{
    font-size: 45px;
    line-height: 40px;
    color: #ff0000;
    font-weight: bold;
    font-family: "Bell MT Bold";
    text-align: center;
    font-variant: small-caps;
}
.privated-jet{
    font-size: 45px;
    line-height: 40px;
    font-weight: bold;
    font-family: "Bell MT Bold";
    text-align: center;
    color: #ffffff;
    margin: 10px;
    font-variant: small-caps;
    
}
.attract-quality{
    height: 89px;
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    margin-top: 10px;
    
}
.review-img{
    border-radius: 50%;
    margin: 3%;
}
.review-name{
    font-size: 30px;
    line-height: 35px;
    color: #ff0000;
    font-weight: 600;
    text-align: center;
}
.review-address{
    font-size: 25px;
    line-height: 35px;
    color: #080808;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
}
.review-details{
    height: 186px;
    font-size: 23px;
    line-height: 35px;
    color: #474747;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
}
.the-know{
    font-size: 30px;
    line-height: 30px;
    color: #ff0000;
    font-weight: bold;
    font-family: "Bell MT Bold";
    font-variant: small-caps;
}
.the-know > span{
    color: white;
    margin-left: 5px;
}
.the-LINKS{
    font-size: 30px;
    line-height: 30px;
    color: ffffff;
    font-weight: bold;
}
.insta-followers{
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
}
.Instagram-logo{
    margin: 1% 1% 0.5% 1%;
}
.popular{
    font-size: 30px;
    line-height: 30px;
    color: #e90f0f;
    font-weight: bold;
    font-family: "Bell MT Bold";
    margin: 20px;
    text-align: center;
    font-variant: small-caps;
}
.popular >span{
    color: black;
    margin-left: 10;
    font-variant: small-caps;
    font-family: "Bell MT Bold";
    
}
.popular-main{
    color: red;
    
    float: left;
    width: 100%;
    margin-bottom: 2%;
    padding: 0.5%;
    text-align: start;
    font-size: 28px;
    

}
.popular-4{
    width: 24%;
    display: inline-block;
    margin-right: 9px;
    font-size: 24px;
    color: black;
    padding-left: 3.5%;

}
.heading{
    font-size: 20px;
    line-height: 35px;
    color: #ff0000;
    font-weight: 600;
    text-align: start;
}
.heading-details{
    width: 232px;
    font-size: 15px;
    line-height: 23px;
    color: #1a1a1a;
    font-weight: 400;
    
}
.popular-button{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 17px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 4px;

}
.black-car-img-22{
    width: 100%;
    
    
}
.email-box{
    font-size: 19px;
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    
}
.email-box:hover {
    border: none;
    color: red;
    background-color: rgb(22, 197, 228);
    cursor: pointer;
    transition-duration: 0.4s;

}
.subscribe-button{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 18px 8px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5px;
}
.weekly{
    font-size: 30px;
    line-height: 30px;
    color: #ff0000;
    font-weight: bold;
    font-family: "Bell MT Bold";
    margin: 15px;
    font-variant: small-caps;
}
.weekly > span{
    color: ffffff;
    margin-left: 5px;
    font-variant: small-caps;    

}
.receive{
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    }

.footer{
    background-color: black;
    float: left;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 35px;
}


  /* Extra large devices (large laptops and desktops, 1200px and up) */
  /* @media only screen and (max-width: 1200px) and (min-width: 1024px) */
  @media screen and (max-width: 1200px) {
    .container {width: 960px;}
    
    .logo-width {
        width: 80%;
    }
    .icon-nav {
        margin: 7px 0px 0px 25px;
    }
    .edition-class{
        font-size: 28px;
    }
    .nav-container > div {
        padding: 6px;
        margin: 6px;
        margin-left: -10px;
    }
    .nav-text{
        font-size: 11px;
    }
    .icon-nav-width{
        width: 80%;
    }
    .icon-nav >div {
        margin: 0 6px;
        width: 18px;
    }
    .text-image{
        font-size: 20px;
        left: 19%;
    }
    .button {
        padding: 11px 28px;
        font-size: 20px;
        margin: 3px;
    }
    .htag{
        font-size: 40px;
        line-height: 45px;
    }
    .list-record {
        margin: 0px 18px 20px;
        padding: 2px;
        font-size: 20px;
        line-height: 50px;
    }
    
    .button {
        padding: 10px 30px;
        font-size: 20px;
        margin: 2px 1px;
      }
      .featured > img {
          width: 25%;
      }
      .featured-item-content {
          font-size: 13px;
          margin-left: 17px;

      }
      .featured-item-img > img{
        width: 80%;
    }
    .featured-item{
        justify-content:center;
        padding: 6px 1px;

    }
    .new-trending-content{
        margin: 6;

    }
    .new-trending-content > h3 {
        font-size: 15px;

    }
    .new-trending-content > p{
        font-size: 13px;
    }
    .journal-image > img{
        width: 20%;
    }
    .journal-content {
        font-size: 16px;
    }
    .as-seen-in-img{
        width: 20%;
    }
    .black-car-content{
        top: 15%;
    }
    .sell{
        font-size: 20px;
    }
    .privated-jet {
        font-size: 25px;
    }

    .attract-quality {
        margin: 0.9%;
        font-size: 17px;
    }
}


 
  /* Large devices (laptops/desktops, 992px and up) */
  /* @media only screen and (max-width: 1024px) and (min-width: 768px) */
  @media screen and (max-width: 980px) {
    .container {width: 750px;}
    .logo-width {
        width: 70%;
    }
    .icon-nav {
        margin: 5px 0px 0px 15px;
    }
    .edition-class{
        font-size: 24px;
    }
    .nav-container > div {
        padding: 2px;
        margin: 7px 1px;
        margin-left: -15px;
    }
    .nav-text{
        font-size: 9px;
        top: 28%;
    }
    .icon-nav-width{
        width: 75%;
    }
    .icon-nav >div {
        margin: 0 5px;
        width: 15px;
    }


    .text-image{
        top: 32%;
        font-size: 16px;
         left: 15%;
    }
    
    .list-record {
        margin: 0px 12px 20px;
    }
    .button {
        padding: 8px 24px;
        font-size: 18px;
      }
      .featured > img {
        width: 25%;
    }
    .featured-item-content {
        font-size: 11px;
        margin-left: 11px;
        
    }
    .featured-item-img > img{
        width: 70%;
    }
    .new-trending-content{
        margin: 4;

    }
    .new-trending-content > h3 {
        font-size: 11px;

    }
    .new-trending-content > p{
        font-size: 9px;
    }
    .journal-content {
        font-size: 13px;
    }
    .black-car-content{
        top: 8%;
    }
    .sell{
        font-size: 15px;
    }
    .privated-jet {
        font-size: 28px;
    }

    .attract-quality {
        margin: 0.7%;
        font-size: 14px;
    }
  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  /* @media only screen and (max-width: 768px) and (min-width: 480px) */
  @media screen and (max-width: 768px){
    .container {width: 96%;}
    .logo-width {
        width: 60%;
    }
    .icon-nav {
        margin: 5px 0px 0px 15px;
    }
    .edition-class{
        font-size: 15px;
    }
    .nav-container > div {
        padding: 4px 2px;
        margin: 4px 1px;
        margin-left: -20px;
    }
    .nav-text{
        font-size: 6px;
    }
    .icon-nav >div {
        margin: 0 4px;
        width: 9px;
    }

    .icon-nav-width{
        width: 55%;
    }
    .text-image{
        top: 24%;
        font-size: 10px;
        left: 16%;
    }
    .list-record {
        margin: 0px 8px 10px;
    }
    .button {
        padding: 5px 17px;
        font-size: 11px;    
      }
      .featured > img {
        width: 20%;
    }
    .featured-item-content {
        font-size: 10px;
        margin-left: 11px;
        text-align: center;
        
    }
    .featured-item-img > img{
        width: 60%;
    }
    .new-trending-content{
        margin: 3;

    }
    .new-trending-content > h3 {
        font-size: 9px;

    }
    .new-trending-content > p{
        font-size: 7px;
    }
    .journal-content {
        font-size: 10px;
    }
  } 
  

   /* Small devices (portrait tablets and large phones, 600px and up) */
   @media only screen and (max-width: 480px) {
    .logo-width {
        width: 50%;
    }
    .icon-nav {
        margin: 5px 0px 0px 8px;
    }
    .edition-class{
        font-size: 6px;
    }
    .nav-text{
        font-size: 6px;
        margin: 2px;
    }
    .nav-container > div {
        padding: 1px;
        margin: 1px;
        margin-left: -30px;
    }
    .icon-nav-width{
        width: 30%;
    }
    .icon-nav >div {
        margin: 0 5px;
        width: 9px;
    }
    .text-image{
        top: 15%;
        font-size: 8px;
        left: 10%;
    }
    .container{
        max-width: 98%;
    }
    .list-record {
        margin: 0px 6px 8px;
    }
    .button {
        padding: 3px 12px;
        font-size: 7px; 
      }
      .featured > img {
        width: 15%;
    }
    .featured-item-content {
        font-size: 7px;
        margin-left: 7px;
        
    }
    .featured-item-img > img{
        width: 50%;
    }
    .new-trending-content{
        margin: 2;

    }
    .new-trending-content > h3 {
        font-size: 7px;

    }
    .new-trending-content > p{
        font-size: 6px;
    }
    .journal-content {
        font-size: 7px;
    }
    
  }
  