* {
    box-sizing: border-box;

}

body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999 !important;
    background: #fff !important;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1600px !important;
}

.navbar {
    /* padding: 1rem 0 !important; */
    background: transparent !important;
    position: absolute !important;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 3;

}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto !important;
    justify-content: space-between !important;
}

.navbar-collapse {
    justify-content: flex-end;
    text-transform: capitalize;
    justify-content: space-around;
}

/* .navbar-nav {
    padding-right: 90px;
} */
.nav-link {
    font-size: 13px;
    /* padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 25px;
    padding-right: 25px; */

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0rem 0.75rem !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.review {

    border: #626262 !important;
}

button a {
    color: white !important;
    text-decoration: none;
}

button :hover {
    color: white !important;
}

.active-nav {
    color: #ff5a3c !important;
}

.active {
    color: #ff5a3c;
}

.nav-item {
    padding: 5px;
    color: #fff;
}

.normal-button {
    background-color: #999 !important;
}

.fa {
    font-size: 20px !important;
    margin-right: 10px !important;
}

.primary {
    background-color: #ff5a3c !important;
    border: none !important;
    color: #fff !important;
    display: inline-block;
    padding: 15px 40px !important;
    margin-right: 5px !important;
    margin-bottom: 10px !important;
    font-weight: 700 !important;
    border-radius: 0px !important;
}

.search-investor {
    padding: 25px;

    background: #f2f6f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 15px 34px 23px 6px rgb(0 0 0 / 26%);
}

.input-field {
    width: 100%;
    padding: 15px;
    color: #5c727d;
    border: solid #fff 1px;
    background: #fff;

}

.input-field ::after {
    content: "\f073";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: var(--ltn__secondary-color);
}

.input-req {
    padding: 12px;
    color: #3333;
}

.indu-field {
    margin: 10px 0px;
    width: 32%;
}

.search-bar {
    margin-top: 150px !important;
    margin-bottom: 220px;
    position: sticky;
    top: 10px;

}

.for-dark {
    background: #171b2a;
}

.dream-section-1>h1 {
    color: #fff;
    clear: both;
    font-size: 36px;
    margin-top: 0;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
}

.dream-section-1>p {
    color: #fff;
}

.explore {
    background: #fff !important;
    border: solid 1px #fff;
    color: #071c1f !important;
}
ul {
    padding-left: 0 !important;
}
/* processs bar */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: url('./img/home.png');
}

.slider:hover {
    opacity: 1;
    background: transparent;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    opacity: 0.9;
    height: 50px;
    border: 0;
    background: #222;
    background: url('./img/home.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    background: #222;
    color: #222;
    height: 24px;
    opacity: 0.9;
    border: 0;
    background: url('./img/home.png');
    cursor: pointer;
}

.rangeline {
    font-size: 14px;
    font-weight: 500;
}

.circle-box {
    width: 100% !important;
    display: flex;
    justify-content: center;

}

.circle-100 {
    width: 100px;
    height: 100px;
    background: #ff5a3c;
    border-radius: 50%;
    text-align: center;
    padding: 25px;

}

.for-wid {
    min-height: 287px !important;
}

.card {
    border: none !important;
    background-color: transparent !important;
    box-shadow: 0 20px 23px -7px rgb(0 0 0 / 14%);
    transition: all .3s ease;
    border-radius: 8px;
}

.card-title-1 {
    color: #fff !important;
    font-size: 24px;
    line-height: revert;
    font-weight: 700;
    font-family: 'Sen', sans-serif;
}

.card-text-1 {
    color: #fff !important;
    padding: 0px 30px;
    line-height: 28px;
    font-size: 16px;
}

#pulse:hover {
    animation: pulse 0.5s ease-in infinite;
}

#push:hover {
    animation: pulse 0.5s linear 1;
}

#pop:hover {
    animation: pop 0.3s linear 1;
}

.property-heading {
    color: #ff5a3c;
    list-style: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 25px;
}

.sub-prop-heading {
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
    color: #222;
}

.location {
    padding: 0 2px;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
}

.fa-map-marker {
    color: #ff5a3c;
}

.value {
    color: #999999;
    margin-left: 9px;
    font-weight: 700;
}

.for-cart-box {
    width: 40px;
    height: 40px;
    background-color: #f2f6f7;
    /* padding: 4px !important; */
    margin: 5px 5px 5px;
    padding-left: 9px;
    border-radius: 5px;
    padding-top: 5px;
    transition: all 0.3s ease 0s;
}

.for-cart-box:hover {
    background-color: #ff5a3c;
    color: #fff !important;
}

.flaticon-expand:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    color: #fff;
    content: "\f11e";
    color: #ff5a3c;
}

.for-icon {
    margin: 5px 0px;
}

@keyframes pulse {
    25% {
        transform: scale(0.9);
    }

    75% {
        transform: scale(1.1);
    }
}

@keyframes push {
    50% {
        transform: scale(0.2);
    }
}

@keyframes pop {
    50% {
        transform: scale(1);
    }
}

hr {
    margin-top: 0px !important;
}

.rate {
    font-weight: 700;
    font-size: 18px;
    color: #ff5a3c;
    padding: 0rem 1.1rem 1.1rem;
}

.rate>span {
    font-size: 14px;
    font-weight: 500;
    color: #ff5a3c;

}

:root {
    width: 100%;
    height: 100%;
    border-width: 200px;
    --border-height: 200px;

}

.glx {
    /* background: radial-gradient(mistyrose, pink); */
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.listed-heading {
    color: #ff5a3c !important;
    font-weight: 600;
    font-size: 36px;
}

.manu-bar {
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

.manu-bar>li {
    margin-right: 25px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

/* gallery */


.gallery {
    position: relative;
    height: 100%;
    width: 100%;
}

.gallery:after {
    content: '';
}

.shadow {
    position: absolute;
    top: 500px;
    left: 100px;
    width: 500px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(#805d78, rgba(0, 0, 0, 0) 70%);
}


.clipped-border {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    padding: 5px;
    background: linear-gradient(grey, lightgrey);
    width: var(--border-width);
    height: var(--border-height);
    max-height: 250px;
    max-width: 250px;
    height: var(--height);
    width: var(--width);
    transition: transform 0.2s;
    position: absolute;
    cursor: pointer;
}

.clipped-border:before {
    content: '';
    position: absolute;
    opacity: 0.5;
    width: 350px;
    height: 70px;
    background: white;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotate(45deg);
    transition: transform 0.5s;
}

.clipped-border:hover:before {
    transform: translate(-100px, 400%) rotate(45deg);
    transition: transform 0.5s;
}

.clipped-border:nth-child(2) {
    top: 196px;
    left: 118px;
}

.clipped-border:nth-child(3) {
    top: 0;
    left: 235px;
}

.clipped-border:nth-child(4) {
    top: 196px;
    left: 353px;
}

.clipped-border:nth-child(5) {
    top: 0;
    left: 470px;
}

#clipped {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);

}

.clipped-border:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    z-index: 10;
}

.for-house {
    display: none;
}

/* img- filter */
.portfolio-menu {
    text-align: center;
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all .5s ease;
}

.portfolio-item {
    /*width:100%;*/
}

.portfolio-item .item {
    /*width:303px;*/
    float: left;
    margin-bottom: 10px;
}

.btn-outline-dark.active,
.btn-outline-dark.dropdown-toggle.show,
.btn-outline-dark:active {
    color: #fff;
    background-color: #ff5a3c !important;
    border-color: #ff5a3c !important;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #ff5a3c !important;
    border-color: #ff5a3c !important;
}

/* building image */
.beta-card {
    box-shadow: 0 5px 20px 0 rgb(23 44 82 / 18%);
    border-radius: 0.65rem !important;
}

.beta-card:hover {
    background-color: #ff5a3c !important;
    box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
    color: #fff !important;
}

.card-title-2 {

    transition: all 0.3s ease 0s;
    padding: 0rem;


    font-size: 22px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.circle-box-1 {
    background: #fff2f0;
}

.for-direction {

    border-radius: 50%;
    box-shadow: 0 5px 20px 0 rgb(23 44 82 / 18%);
    position: relative;
    bottom: -34px;
    left: 140px;


    width: 45px;
    height: 45px;
    line-height: 50px;
    background-color: #fff;
    display: block;
    text-align: center;
    font-size: 18px;
    border: 1px solid 0 0 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -20px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.icon-right-img {
    margin-top: -8px;
    width: 60% !important;
}

/* counting */
.counting-box {
    padding: 20px 0px 0px 0px;
    background-color: #f2f6f7;
}

.service-main-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px !important;
    padding-bottom: 130px;
}

.service-single {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    padding: 16px 0px;
    margin: 20px 9px;
    width: 23% !important;
    color: #5c727d;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, -webkit-box-shadow .3s;
}

.counting-header {
    width: 100%;
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 0px;
}

.value-sign {
    color: #071c1f;
    font-size: 42px;
    font-weight: 700;
    font-size: 42px;
}

.heart-center {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

/* dream home */
.dream-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ff5a3c;
    position: relative;
    top: -80px;
    width: 70%;
    padding: 40px;
    margin: 0px 260px;
    align-items: center;
}

footer {
    background: #171b2a;
    columns: #fff !important;

}

.footer-section {
    color: #fff;
}

.text-reset {
    text-decoration: none;
}

.text-reset:hover {
    color: #ff5a3c !important;
}
.listed-heading {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.slider {
    /* background: url('./img/home.png'); */

}

.wrap {
   
    transform: translate(0%, 0%);
}
.range-slider{
    display: block;
}
.range {
    width: 100%;
    cursor: pointer;
  
}

.range::-ms-tooltip {
    display: none;
}

.track {
    width: 100%;
    height: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
   
    z-index: -1;
}

.track-inner {
    width: 0;
    height: 100%;
    background: #ff5a3c;
}

.thumb {
    background: url('./img/home.png');
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    pointer-events: none;
    z-index: -1;
}
.for-icon-field ::before{
    background: url('./img/home.png');
}

@media (min-width: 992px) {}

@media (max-width: 767.98px) {}

@media (max-width: 480px) {
    .indu-field {
        margin: 5px;
        width: 100%;
    }

    .clipped-border {
        width: 100px;
        height: 100px;
    }

    .clipped-border:nth-child(2) {
        top: 0;
        left: 100px;
    }

    .clipped-border:nth-child(3) {
        left: 200px;
    }

    .clipped-border:nth-child(4) {
        top: 82px;
        left: 50px;
    }

    .clipped-border:nth-child(5) {
        top: 82px;
        left: 150px;
    }

    .dream-home {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #ff5a3c;
        position: relative;
        top: -150px;
        width: 70%;
        padding: 40px;
        margin: 0 50px;
        align-items: center;
    }

    .service-single {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        border-radius: 5px;
        padding: 16px 0px;
        margin: 20px 9px;
        width: 100% !important;
    }
    .filter-bar-ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        
    }
    portfolio-menu ul li {
        display: inline-block;
        margin: 0;
        list-style: none;
        padding: 0px 11px;
    }
    .listed-heading {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .primary {
        padding: 6px 29px !important;
        margin-right: -11px !important;
        margin-bottom: 7px !important;
        font-weight: 700 !important;
        border-radius: 0px !important;
    }
}