
*{
    box-sizing: border-box;
    
}
body{
    background: #FBFBFB !important;
    margin-bottom: 50px !important;
}
.contant-heading{
    
}
.heading-top{
    
text-align: left;
font: 25px Montserrat;
letter-spacing: 0px;
color: #222222;
margin-top: 240px;

}
.main-heading{
    font: var(--unnamed-font-style-normal) normal bold 58px/65px Montserrat;
text-align: left;
font: normal normal bold 58px/65px Montserrat;
letter-spacing: 0px;
width: 80%;
}
.main-heading>span{
    color: #FF6F61;
}
.section-one-img{
    margin-top: 113px;
}
.mobile-img-1{
    position:absolute;
    background: transparent url('./img/Ellipse\ 12.png') 0% 0% no-repeat padding-box;
    

}
.img-2 {
    position: relative;
    top: 0;
    left: 208px;
}
.img-3{
    position: relative;
    top: 180px;
    left: 192px;
    opacity: 0.4;
}
.img-4{
    position: relative;
    top: 260px;
    left: -530px;
    opacity: 0.5;
}
.button{
    background: transparent linear-gradient(90deg, var(--unnamed-color-ff6f61) 0%, #FF867A 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(90deg, #FF6F61 0%, #FF867A 100%) 0% 0% no-repeat padding-box;
opacity: 1;
margin: 16px 0;
    border: none;
    padding: 10px 21px;
    border-radius: 5px;
    color: white;
}
.section-two-title{
    color: var(--unnamed-color-ff6f61);
text-align: center;
font: normal normal 600 25px/60px Montserrat;
letter-spacing: 0.63px;
color: #FF6F61;
text-transform: uppercase;
margin-top: 100px;
}
.section-two-heading{
    color: var(--unnamed-color-333333);
text-align: center;
font: normal normal bold 36px/60px Montserrat;
letter-spacing: 0px;
color: #333333;
text-transform: uppercase;
margin-bottom: 35px;

}
.coloum-box{
    margin: 42px;
    background: #ffffff;
    color: black;
    border-radius: 5px;
    padding: 40px;
    height: 246px;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 1%), 0 -1px 7px 0 rgb(6 0 0 / 22%);
}
.icon-name{
    margin-top: 25px;
    font-size: 18px;
    padding: 0 50px;
    text-align: center;
   
}
.btn-light{
    margin-top: 10px;
    color:#FF6F61 !important;
    background: white !important;
}
.active{
    background: transparent url('./img/Rectangle\ 72.svg') 0% 0% no-repeat padding-box;
    box-shadow: none;
border-radius: 5px;
color: white;



}
.booking-box{
    background-image: linear-gradient(to right,#FC9E21,#FF6F61, #FE2983);
    border-radius: 20px;
    padding: 10px;
}
.booking-content{
    padding: 15px 0px;
}
.booking-content >h3{
text-align: left;
font: normal normal medium 22px/60px Montserrat;
letter-spacing: 0.55px;
color: #FFFFFF;
text-transform: uppercase;
}
.booking-content >h2{
    text-align: left;
font: normal normal bold 36px/60px Montserrat;
letter-spacing: 0.9px;
color: #FFFFFF;
text-transform: uppercase;
}
.book-consultation{
    padding: 10px !important;
    margin: 5px;
    background: white !important;
    color: #FC9E21 !important;
    font-size: 25px !important;
}





}
@media screen and (max-width: 980px){
       
}
@media screen and (max-width: 768px){
      
}
@media only screen and (max-width: 480px){
    
}
