
*{
    box-sizing: border-box;
}
.navbar{
    background-color: #1e025b;
    
}
.navbar-collapse {
    justify-content: flex-end;
    text-transform: capitalize;
}
.navbar-nav {
    
    text-transform: uppercase;
}
.logo{
    max-width: 176px;
}
.nav-link{
    color: white !important;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
padding-right: 0 !important;

font-size: 15px;
    margin: 0 19px;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;

}
.active{
    color: white !important;
    border-bottom: 2px solid;
}


.nav-item{
    color: #032e42 !important;
}
.nav-item :hover{
    border-bottom: 2px solid white;
    text-decoration: none;
    transition: all .3s ease-out;
    max-width: 100%;
    color: white     !important;
    
}
.schedule_btn{
    margin-left: 50px;
    
}
button{
    border-radius: 1px;
    border: none;
    letter-spacing: 0.15em;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;    
    text-transform: uppercase;
    color: #FFFFFF;
    background: #f9af18;
    padding: 15px !important;
}
button:hover{
    background: #8767f5;
}
.schedule_call{
    color: white;
    margin: 0 10px;
    text-decoration: auto;
    font-weight: 600;
}
.schedule_call:hover{
    color: #FFFFFF;
}
.section-img{
    width: 100%;
}
.right-border{
    position: absolute;
    border: 1px solid;
    width: 220px;
    top: 50%;
    left: 110%;
    color: #8767f5;
}
.heading{
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 900;
    margin: 0px 0;
    color: white;
    margin-bottom: 30px;
    width: 35%;
    

}
.section-one-content{
    padding: 130px 0px 170px 270px;
    color: white;
}
.section-one-content, p{
    width: 38%;
    font-size: 18px;
}
.img-2{
    width: 100%;
    max-height: 700px;
}
.section-img{
    position: absolute;
}
.section-one-content{
    position: relative;
}
.contact-us{
    color: #FFFFFF !important;
    margin-top: 30px !important;
    border-color: white !important;
    border-radius: 25px !important;
    padding: 10px 30px !important;

}
.section-3{
    margin: 2% 0;
    display: flex;

}
.section-3-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
.web-elements-box{
    position: relative;
}
.section-3-content >h4{
    color: darkgray;
    text-transform: uppercase;
}
.web-elements-box >h2{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}
.section-3-content>p{
    margin-top: 50px;
    width: 100%;
}
section-3-img,img{
    width: 100%;
}
.read-me{
    background: black;
    color: white;
    border-radius: 30px;
    padding: 10px 15px !important;
    margin-top: 30px;
}
.section-4{
    display: flex;
    margin: 2% 0;
    flex-wrap: wrap;
}
 
  .gallery img {
    width: 100%;
    height: auto;
    margin: 5% 0;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 32.99999%;
  }
  
@media screen and (max-width: 980px){
       
        .container, .container-md, .container-sm {
        max-width: 850px !important;
    }
    
    .display-3{
        font-size: 55px !important;
        line-height:40px !important;
       
    }
    .schedule_btn{
        display: none;
    }
    .heading {
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 900;
        margin: 0px 0;
        color: white;
        margin-bottom: 30px;
        width: 55%;
    }
    .section-one-content {
        padding: 40px 0px 100px 10px;
        color: white;
       
    }
    .section-one-content, p {
    width: 44%;
    font-size: 13px;
}
.contact-us {
    margin-top: 24px !important;
    border-radius: 24px !important;
    padding: 8px 20px !important;
}
}
@media screen and (max-width: 768px){
   
    .navbar-nav {
        align-items: center;
    }
    .right-border {
        position: absolute;
        border: 1px solid;
        width: 150px;
        top: 50%;
        left: 105%;
        color: #8767f5;
    }
    .section-3-img {
        width: 50%;
    }
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
   
    
}
@media only screen and (max-width: 480px){
    .navbar-nav {
        align-items: center;
    }
    .section-one-content, p {
        width: 44%;
        font-size: 10px;
    }
    .section-one-content {
        padding: 26px 0px 20px 6px;
        color: white;
    }
    .heading {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 900;
        margin: 0px 0;
        margin-bottom: 10px;
        width: 55%;
    }
    .contact-us {
        margin-top: 5px !important;
        border-color: white !important;
        border-radius: 24px !important;
        padding: 4px 11px !important;
        font-size: 8px !important;
    }
    .right-border{
        position: absolute;
        border: 1px solid;
        width: 120px;
        top: 50%;
        left: 90%;
        color: #8767f5;
    }
    .section-3-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .section-3 {
        margin: 2% 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .section-3-content >h4 {
        font-size: 18px;
    }
    .web-elements-box >h2 {
        font-size: 22px;
    }
    .section-3-img {
        width: 100%;
        margin: 20px 0;
    }
    .right-border {
        position: absolute;
        border: 1px solid;
        width: 140px;
        top: 110%;
        left: 10%;
        color: #8767f5;
    }
    .section-3-content>p {
        margin-top: 35px;
        width: 91%;
    }
    .read-me {
        background: black;
        color: white;
        border-radius: 30px;
        padding: 8px 20px !important;
        margin-top: 10px;
    }
    .responsive {
        width: 100%;
      }
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
    
}
